@model string

@if (!string.IsNullOrWhiteSpace(Model))
{
    var alertType = "success";

    if (Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase))
    {
        alertType = "danger";
    }
    else if (Model.StartsWith("Warning", StringComparison.OrdinalIgnoreCase))
    {
        alertType = "warning";
    }
    else if (Model.StartsWith("Info", StringComparison.OrdinalIgnoreCase))
    {
        alertType = "info";
    }

    <div class="alert alert-@alertType alert-dismissible fade show mt-3" role="alert">
        <strong>
            @(
            alertType switch
            {
                "danger" => "❌ Lỗi!",
                "warning" => "⚠️ Cảnh báo!",
                "info" => "ℹ️ Thông tin",
                _ => "✅ Thành công!"
            }
            )
        </strong>
        <span class="ms-1">@Model</span>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close">
        </button>
    </div>
}